

body{
    background-color: black;
    color: white
    
    
}
@media(min-width: 1000px){
body{
    background-color: blueviolet
}

}
@media(min-width:700px) and (max-width: 999px){
    body{
        background-color: gold;
    }
}


@media(min-width: 500px) and (max-width:699px){
    body{
        background-color: firebrick;
        font-size: 14pt;
    }
}
h1{
    text-align: center
}
img{
    width: 100%
}








@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Dongle:wght@700&family=Lobster+Two:ital,wght@1,400;1,700&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,500&family=Source+Sans+Pro:wght@700&display=swap');

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
}